body {
  background-color: #ffffff;
}
.top {
  height: 200px;
  width: 940px;
  margin-left: 140px;
  background-color: white;
}
.middle {
  background-color: white;
  margin-left: 140px;
  display: inline;
}


footer {
  margin-left:  0;
  margin-right: 0;
}
form {
  margin-left: 600px;
}

h2 {
  margin-left: 600px;
}
img {
  margin-left: 100px;
  display: inline-block;
  margin-bottom: 0;
}
hr {
  height: 1px;
  width: 940;
  background-color: black;

}
input {
    outline: 2px solid #fca600;
}

p {
  margin-left: 240px;
}

.slogan {
  margin-left: 30px;
  margin-top: 10px;
}
